@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap');

  @media (max-width: 830px) {
    #cert {
      font-size: 0.75rem;
    }

  }
  @media (max-width: 460px) {
    #cert {
      font-size: 1rem;
    }

  }
  @media (max-width: 1300px) {
    .post-image-w {
        width: 80%;
      }

  }